
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9012ca;
  }
  
  div {
    font-size: xx-large;
  
  }
  
  h1 {
    color: #333;
  }
  
  nav {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
  }
  
  .button {
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  }

  .button1{
    padding: 15px 245px;
    text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  }


  .button2{
    padding: 15px 116px;
    text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  }

.button5{
    padding: 15px 116px;
    text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  }

  .button4{
    display: inline;
    padding: 1px 15px;
    text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  }